.stuff {
	margin-left: 60px; 
	/* moves the entire arrow which contains box, point and shadow*/
}
.arrow {
	
}

.box {
	background-color: CornflowerBlue;
	width: 100px;
	height: 85px;
	position: relative;
}

.point {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 60px solid CornflowerBlue;
	position: absolute;
}

.shadow {
	width: 0;
	height: 0;
	left: -15px;
	border-right: 15px solid blue;
	border-top: 20px solid transparent;
	position: absolute;
}
.box::after {
    	content: "A";
		position: absolute;
		left: 30px;
		top: 25px;
/*		display: block;*/
/*		margin: 0 auto;*/
		font-size: 60px;
		color: white;
		line-height: 50px;
}

.grey {
	position: absolute;
    height: 300px;
    width: 200px;
    top: 82px;
    left: 20px;
    
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(Gainsboro, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(Gainsboro, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(Gainsboro, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(Gainsboro, white); /* Standard syntax (must be last) */
}